:root{
    --primario: black;
    --GrisClaro: #d6dbdf;
    --grisBotones:#2c3e50 ;
    --grisEspecial: #808b96 ;
    --naranja: #ff9800 ;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.titulo{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
/*Main*/
.container{
    max-width: 50rem;
    height: 60rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin: auto;
}
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.48);
    background-color: var(--primario);
    padding: 2rem;
    border-radius: 2rem;
}
/*Botones*/

.fuente{
    font-size: 3rem;
    border-radius: 5rem;
}

#resultado{
    grid-column: 1/5;
    text-align: end;
    color: var(--primario);
    padding: 0rem 1rem 0rem 0rem;;
    background-color: var(--GrisClaro);
}
#borrar,#multiplicar,#restar,#sumar,#igual{
    background-color: var(--naranja);
    color: white;
}
#borrar-todo{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--grisEspecial);
    color: white;
}

#porcentaje{
    background-color: var(--grisEspecial);
    color: white;
}

#dividir{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: var(--grisEspecial);
    color: white;
}

#siete,#ocho,#nueve{
  grid-row: 3/4;  
  background-color: var(--grisBotones);
  color: white;
}

#cuatro{
    grid-column: 1/2;
   
    
}

#cuatro,#cinco,#seis{
    grid-row: 4/5;
    background-color: var(--grisBotones);
    color: white;
}

#uno{
    grid-column: 1/2;
}

#uno,#dos,#tres{
    grid-row: 5/6;
    background-color: var(--grisBotones);
    color: white;
}

#cero{
    grid-column: 1/3;
    text-align: left;
    padding: 0rem 0rem 0rem 1rem;
    
}
#cero,#coma{
    grid-row: 6/7;
    background-color: var(--grisBotones);
    color: white;
}